<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planer</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="Travel Planer"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="images/mstile-144x144.png" />

</head>
<body>

    <header>
        <div class="logo">Travel Planer</div>
    </header>
    
    <main>
        <section>
            <form onsubmit="return false;">
                <label for="city">My trip to:</label>
                <input id="city" type="text" name="city" >
                <label for="date">Departing:</label>
                <input id="date" type="date" name="date" >
                <button id="save" type="submit" name="save">save trip</button>
                <button id="remove" type="reset" name="remove">remove trip</button>
            </form>
        </section>

        <section>
            <div class="result"></div>
        </section>

        <section>
            <div class="list"></div>
        </section>

    </main>

    <footer>
       <p class="copyright">© Travel Planer | 2020 | Created by Dmitriy Zatulovskiy | Web API used</p> 
    </footer>

    <!-- <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script> -->
    
</body>
</html>